body {
    background-color: blue;
    margin: 0;
  }


  h1 {
    color: white;
    margin-left: 20px;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: ease-in-out 0.3s;
    
  }

  h1:hover {
    font-size: 3.2rem;
   
  }


  #transformMe {
    transform: translate(10px, 50px) rotateY(180deg) skew(-25deg, 20deg); 
    
}


p {
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

p::first-letter{
    color: tomato;
}

.display {
    text-align: center;
    background-color: turquoise;
}
  